/* -------- Спецификая ---------- */
body {
    font-family: Arial, sans-serif;
    color: #000000;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}


.container {
    width: 960px;
    margin: 0 auto;
}

div,
p,
form,
input,
span,
button,
a {
    box-sizing: border-box;
}

p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

h1,
h2,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
}

ul,
li {
    display: block;
    padding: 0;
    margin: 0;
}

.header-section {
    position: sticky;
    box-shadow: -1px 6px 11px rgb(0 0 0 / 46%);
    padding: 32px 0;
    align-items: center;
    justify-content: space-between;
    background: #455991;
    color: #fff;
}

.header-section a {
    color: #fff;
}


.header {
    
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: space-around;
}

.header__logo {

    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.header__nav {

    display: flex;

}

.header__menu {
    display: flex;
    width: 100%;
    text-underline-offset: 2px;


}

.header__menu a {}

.header__menu-item {
    margin-right: 29px;
}

.header__link {}

.header__phone {
    max-width: 130px;
    width: 100%;
    text-decoration: none;
    font-size: 15px;

}



.offer-section {
    background: #fff;
    padding: 47px 0 46px;

}

.offer {}

.offer__title {
    margin-bottom: 18px;
    font-size: 23px;

}

.offer__text {
    color: #828899;
    margin-bottom: 34px;
    max-width: 400px;
    width: 100%;

}

.offer__cards {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.offer__cards-item {
    box-sizing: border-box;
    max-width: 307px;
    width: 100%;
    display: block;
    border: 1px solid #D6D6D6;
    padding: 11px 15px 32px 15px;
    text-transform: none;
}

.offer__cards-item_shadow {
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 30px #07070785;
}

.offer__card-title {
    margin-bottom: 18px;
    max-width: 352px;
    width: 100%;
    justify-content: space-between;

}

.offer__card-text {}

.offer__a-href {
    display: inline-block;
    margin-top: 20px;
    color: #22A2EC;
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
}

.request-section {

    padding: 46px 0;

}

.request {
    display: flex;
    justify-content: space-between;

}

.request__email {
    max-width: 410px;
    width: 100%;

}


.request__title {
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;


}

.request__form {
    margin-top: 39px;

}

.request__form input {
    font-family: Arial, sans-serif;
    border: 1px solid #D6D6D6;
    font-size: 15px;
    padding: 14px 18px;
    background: transparent;
    margin-bottom: 12px;

}

.request__message {
    height: 124px;
    width: 359px;
    resize: none
}

.request__send {
    font-family: Arial, sans-serif;
    background: #EBCE0D;
    font-weight: bold;
    font-size: 15px;
    color: #0000008A;
    text-decoration: none;
    display: block;
    border: none;
    width: 166px;
    padding: 14px 0;
    cursor: pointer;
    margin-top: 13px;

}

.request__text {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
    font-style: regular;
    padding: 12px 0;
    width: 192px;
    margin-top: 15px;
    max-width: 192px;
    width: 100%;

}

.request__elements {
    background: #184C6B;
    color: #FFFFFF;
    max-width: 552px;
    width: 100%;
    padding: 43px 43px 95px;
}





.request__elements-title {
    color: #FFFFFF;
    display: flex;
    font-size: 17px;
    margin-bottom: 30px;

}

.request__text-wrapp {
    display: flex;
    justify-content: space-between;

}

.request__elements-text {
    max-width: 208px;
    width: 100%;

}

.footer-section {
    background: #455991;
    color: #fff;
    padding: 37px 0 29px 0;
}

.footer {
    align-items: center;
    justify-content: space-between;
    display: flex;
    height: 34px
}

.footer__text-one {
    font-size: 13px;



}

.footer__button-one {
    background: #455991;
    border: 1px solid #fff;
    max-width: 145px;
    width: 100%;
    color: #fff;
    border-radius: 5px;
    display: block;
    padding: 6px 0 5px 0;

}

.footer__button-two {
    background: #455991;
    border: 1px solid #fff;
    max-width: 148px;
    width: 100%;
    color: #fff;
    border-radius: 18px;
    display: block;
    padding: 6px 0 5px 0;
}

.footer__text-two {
    max-width: 229px;
    width: 100%;
    border: 1px solid #455991;
    border-radius: 3px;
    font-size: 12px;
    padding: 7px 24px 6px 27px;
    background: #fff;
    color: #455991;

}

.footer__text-three {
    font-size: 12px;
}

           /* MEDIA QUERiES */
   
/* 992-1200 */

@media screen and (max-width: 1200px) {
   

}

/* 768-992 */
@media screen and (max-width: 992px) {
    .container {
        width: 700px;
    }
    .offer__cards-item {
        width:30%;
    }
    .request__form  {
        width: 45%;
    }
    .request__message {
        width: 160%;
    }
    .request__elements {
        width: 85%;
    }
    .request__elements-text {
        width: 48%;
    }
    .footer {
        height: 4px;
    }
    .footer__text-one {
        font-size: 11px;
    }
    .footer__button-one,.footer__button-two {
        width: 18%;
    }
    .footer__text-two {
        width: 18%;
        font-size: 10px;
    }
    .footer__text-three {
        font-size: 12px;
    }
                               
}

/* 576-768 */
@media screen and (max-width: 768px) {
    .container {
        width: 520px;
    }
    .header-section a {
        color: #fff;
        font-size: 13px;
    }
    .header__menu-item {
        margin-right: 5px;
    }
    .offer-section {
        background: #fff;
        padding: 23px 0 23px;
    }
    .offer__card-title {
        font-size: 14px;
    }
    .offer__card-text {
        font-size: 12px;
    }
    .offer__a-href {
        font-size: 15px;
    }
    .request-section {
        padding: 23px 0;
    }
    .request {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .request__form  {
        width: 100%;
    }
    .request__text {
        font-size: 11px;
        padding: 6px 0 15px;
        margin-top: 0px;
    }
    .request__message {
        width: 90%;
    }
    .request__elements {
        width: 100%;
    }
    .request__elements-text {
        width: 48%;
    }
    .footer__text-one {
        font-size: 11px;
    }
    .footer__button-one,.footer__button-two {
        width: 17%;
        font-size: 10px;
    }
    .footer__text-two {
        width: 17%;
        font-size: 10px;
        padding: 6px 5px 6px 5px;
    }
    .footer__text-three {
        font-size: 12px;
    }
}

/* 320-576 */
@media screen and (max-width: 576px) {
    .container {
        width: 90%;
    }
    .header-section {
        padding: 3px 0;
    }
    .header {
        text-align: center;
        display: block;
    }
    .header__menu-item {
        margin-right: 20px;
    }
    .offer__title {
        font-size: 16px;
    }
    .offer__text {
        font-size: 11px;
        margin-bottom: 20px;
    }
    .offer__cards {
        flex-direction: column;
        
    }
    .offer__cards>:not(:last-child) {
        margin-bottom: 10px;
    }
    .offer__cards-item {
        width: 100%;   
    }
    .request__title {
        font-size: 16px;
    }
    .request__form {
        margin-top: 20px;
    }
    .request__text-wrapp {
        flex-direction: column;
    }
    .request__elements-text {
        width: 100%;
        margin: 7px;
    }
    .request__elements {
        padding: 32px 43px 32px;
    }
    .footer__text-one {
        font-size: 9px;
        margin-right: 4px;
    }
    .footer__button-one,.footer__button-two {
        width: 16%;
        font-size: 9px;
        margin-right: 4px;
    }
    .footer__text-two {
        width: 31%;
        font-size: 10px;
        padding: 0px;
        margin-right: 4px;
    }
    .footer__text-three {
        font-size: 9px;
    }
    
}